* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: $mainBrown;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	&.image--center {
		display: block;
		margin: 0 auto;
	}
}

h1, h2 {
	margin: 0;
	padding: 0;
}