* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	//display: block;
	max-width: 100%;
}

h1, h2 {
	margin: 0;
	padding: 0;
}