* {
	box-sizing: border-box;
}

body {
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

h1, h2 {
	margin: 0;
	padding: 0;
}