.curly-button {		
	display: block;
	color: #fff;
	font-size: 1.45rem;
	padding: 8px 20px;
	background-image: url("/assets/images/button-bg.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}