.curly-button {
	font-family: 'Caveat Brush', cursive;		
	display: inline-block;
	color: #fff;
	font-size: 1.45rem;
	padding: 7px 20px;
	background-image: url("/assets/images/icons/button-bg.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	&--full-width-until-medium {
		width: 100%;
		text-align: center;
		@mixin atMedium {
			width: auto;
		}
	}
}