.header-bar {
	position: relative;
	z-index: 20;
	background-color: $baseColor-1;	
	font-family: 'Caveat Brush', cursive;
	height: $menuHeight;
	padding-top: 25px;
/*flexbox*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
/*----*/
	@mixin atMedium {
		padding-left: 20px;
		padding-right: 20px;
	}


	&__logo {	
		padding-left: 20px;
/*flexbox*/
		flex: 0 0 inherit;	
		@mixin atMedium {
			flex: 1 1 auto;			
		}
/*----*/
/*no-flebox*/
		//float: left;
/*----*/
		@mixin atMedium {	
			width: 13%;		
		}
		img {
			width: 100%;
			max-width: 140px;	
		}
	}


  	&__part {
/*flexbox*/  		
  		flex: 1 1 auto;
/*----*/
/*no-flebox*/
  		//float: left;
/*----*/
	}


	&__part--nav {
		@mixin atMedium {
			//width: 51.67%;
			width: 48.67%;
		}	
	}
	&__part--nav__menu { 
		display: none;		
		position: fixed;
		overflow-y: scroll;
		background-color: $mainBrown;
		padding: 20vh 0 0 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		&.visible {
			display: block;	
		}
		@mixin atMedium {
			display: block;
			position: static;
			overflow-y: visible;			
			background-color: transparent;
			padding: 0 0 0 30px;
		}			
	}
	&__part--nav__menu__item {
		display: block;
		font-size: 1.9rem;
		width: 85%;
		margin:0 auto;
		padding: 15px;
		@mixin clearfix;
		@mixin atMedium {
			//float: left;
			display: inline-block;
			position: relative;
			width: auto;
			font-size: 1.45rem;
			font-weight: 500;	
			margin: 0px;
			padding: 10px;
			&--mobile {
				display: none;
			}			
		}		
	}
	&__part--nav__menu__item__title {
		display: block;
		float: left;
		color: #fff;
		@mixin atMedium {
			display: inline-block;
			float: none;		
			color: $mainBrown;				
		}
	}			
	&__part--nav__menu__item .menu-down-arrow{
		display: block;
		float: right;
		@mixin atMedium {
			display: inline-block;
			float: none;
		}
		&::before, &::after{
			background-color: #fff;	
			@mixin atMedium {
				background-color: $mainBrown;	
			}
		}
	}
	&__part--nav__menu__item__dropdown {
		display: none;
	}	
	&__part--nav__menu__item:hover &__part--nav__menu__item__dropdown {
		@mixin atMedium {
			display: block;
			position: absolute;
			top: 100%;
			left: 0px;
			width: 240px;
			background-color: $mainBrown;
			padding: 3px 0;	
		}				
	}
	&__part--nav__menu__item__subtitle {
		font-size: 0.8em;
		display: block;
		color: #fff;
		@mixin atMedium {
			font-size: 0.87em;
			padding: 10px 18px;				
		}
	}
	&__part--nav__menu__item__subtitle:hover {
		@mixin atMedium {
		color: $baseColor-1;
		}
	}

	

	&__part--social-links {
		width: 14.27%;
		text-align: right;
		display: none;
		@mixin atLarge {
			display: block;
		}	
		li {
			display: inline-block;
			margin-right: 18px;
		}	
	}


	&__part--shopping-links {
		display: none;
		width: 24.06%;
		@mixin atMedium {
			display: block;
		}
		li {
			float: left;
			&:first-child {
				margin-right: 18px;
			}
		}
	}


	&__menu-icon {
		display: block;
		position: absolute;
		z-index: 40;	
		@mixin atMedium {
			display: none;
		}
		&.open {
			top: 30px;
			right: 30px;
			width: 23px;
			height: 23px;
		}
		&.open::before, &.open::after {
			position: absolute;
			width: 100%;
			height: 5px;
			content: "";
			background-color: $mainBrown;
		}
		&.open::before {
			top: 0;
		}
		&.open &__middle {
			position: absolute;
			width: 100%;
			height: 5px;
			top: 9px;
			background-color: $mainBrown;
		}
		&.open::after {
			bottom: 0;
		}
		&.close {	
			position: fixed;
			top: 35px;		
			right: 50px;
		}
		&.close::before, &.close &__middle {
				position: absolute;
				width: 30px;
				height: 2px;
				top: 0;
				content: "";
				background-color: #fff;
				transform-origin: 50% 50%;
		}
		&.close::before {
				transform: rotate(45deg);
		}
		&.close &__middle {
				transform: rotate(-45deg);
		}
	}

  	

}
