.heading {
	font-family: 'Caveat Brush', cursive;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 1;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;

	@mixin atLarge {
		font-size: 3.7rem;
	}

	&--lean {
		padding: 0;
		margin: 0;
	}


	&__brown {
		color:$mainBrown;
	}
	&__purple {
		color:$mainPurple;
	}


	&--size-2 {
		font-size: 2.1rem;
		@mixin atLarge {
			font-size: 2.7rem;
		}
	}
	&--size-3 {
		font-size: 1.631rem;
		@mixin atLarge {
			font-size: 2.175rem;			
		}
	}


	&--medium-left {
		@mixin atMedium {
			text-align: left;
		}
	}
	&--large-left {
		@mixin atLarge {
			text-align: left;
		}
	}
}