.nav-head {
	//background-color: gray;
	height: $menuHeight;
	padding: 25px 20px 0 20px;
/*flexbox*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
/*----*/


	&__logo {	
		//background-color: green;
/*flexbox*/
		flex: 0 0 inherit;	
		@mixin atMedium {
			flex: 1 1 auto;			
		}
/*----*/
/*no-flebox*/
		//float: left;
/*----*/
		@mixin atMedium {
			width: 10%;			
		}
		img {
			width: 100%;
			max-width: 100px;
			margin: 0 auto;
		}
	}


  	&__list {
		display: none;
/*flexbox*/  		
  		flex: 1 1 auto;
/*----*/
/*no-flebox*/
  		//float: left;
/*----*/
	}


	&__list--main-menu { 		
		position: fixed;
		background-color: $mainBrown;	
		z-index: 20;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		overflow-y: scroll;
		padding: 20vh 0 0 0;
		&.visible {
			display: block;	
		}
		@mixin atMedium {
			position: static;
			overflow-y: visible;

			display: block;
			background-color: transparent;
			width: 51.67%;
			padding: 0 0 0 20px;
		}			
	}
	&__list--main-menu__item {
		//background-color: blue;
		font-size: 1.9rem;
		width: 85%;
		margin:0 auto;
		padding: 15px;
		@mixin atMedium {
			display: inline-block;
			position: relative;
			width: auto;
			font-size: 1.45rem;
			font-weight: 500;	
			margin: 0px;
			padding: 10px;
			//background-color: green;				
		}
		@mixin clearfix;
	}
	&__list--main-menu__item__title {
		display: block;
		float: left;
		color: #fff;
		@mixin atMedium {
		display: inline-block;
			//background-color: green;			
			color: $mainBrown;				
		}
	}			
	&__list--main-menu__item .menu-down-arrow{
		float: right;
		@mixin atMedium {
			float: none;
		}
		&::before, &::after{
			background-color: #fff;	
			@mixin atMedium {
				background-color: $mainBrown;	
			}
		}
	}
	&__list--main-menu__item__dropdown {
		display: none;
		z-index: 30;
	}	
	&__list--main-menu__item:hover &__list--main-menu__item__dropdown {
		@mixin atMedium {
			display: block;
			position: absolute;
			top: 100%;
			left: 0px;
			width: 240px;
			background-color: $mainBrown;
			padding: 3px 0;	
		}				
	}
	&__list--main-menu__item__subtitle {
		font-size: 0.8em;
		@mixin atMedium {
			display: block;
			color: #fff;
			font-size: 0.87em;
			padding: 10px 18px;				
		}
	}
	&__list--main-menu__item__subtitle:hover {
		@mixin atMedium {
		color: $baseColor;
		}
	}

	

	&__list--social-links {
		//background-color: yellow;
		width: 14.27%;
		text-align: right;
		display: none;
		@mixin atLarge {
			display: block;
		}	
		li {
			display: inline-block;
			margin-right: 18px;
		}	
	}


	&__list--shopping-links {
		//background-color: red;
		width: 24.06%;
		@mixin atMedium {
			display: block;
		}
		li {
			float: left;
			&:first-child {
				margin-right: 18px;
			}
		}
	}


	&__menu-icon {
		display: block;
		position: absolute;
		z-index: 40;
		//background-color: #fff;		
		@mixin atMedium {
			display: none;
		}
		&.open {
			top: 30px;
			right: 30px;
			width: 23px;
			height: 23px;
		}
		&.open::before, &.open::after {
			position: absolute;
			width: 100%;
			height: 5px;
			content: "";
			background-color: $mainBrown;
		}
		&.open::before {
			top: 0;
		}
		&.open &__middle {
			position: absolute;
			width: 100%;
			height: 5px;
			top: 9px;
			background-color: $mainBrown;
		}
		&.open::after {
			bottom: 0;
		}
		&.close {	
			top: 35px;		
			right: 50px;
		}
		&.close::before, &.close &__middle {
				position: absolute;
				width: 30px;
				height: 2px;
				top: 0;
				content: "";
				background-color: #fff;
				transform-origin: 50% 50%;
		}
		&.close::before {
				transform: rotate(45deg);
		}
		&.close &__middle {
				transform: rotate(-45deg);
		}
	}

  	

}
