.row {
	@mixin clearfix;
	.column {
		&--center {
			margin: 0 auto;
		}
		&--right {
			float: right;
		}
		&--left {
			float: left;
		}
		@mixin atLarge {
			&--large-3 {
				width: 25%;
			}
			&--large-4 {
				width: 33.33%;
			}
			&--large-5 {
				width: 41.66%;
			}
			&--large-6 {
				width: 50%;
			}
			&--large-7 {
				width: 58.33%;
			}
			&--large-8 {
				width: 66.66%;
			}
			&--large-9 {
				width: 74.99%;
			}
			&--large-12 {
				width: 100%;
			}		
		}
	}
}
