.row {

	@mixin clearfix;

	.column {
		width: 100%;

		&--center {
			padding: 0 auto;
		}
		&--right {
			float: right;
		}
		&--left {
			float: left;
		}
		@mixin atMedium {
			&--medium-1 {
				width: 8.33%;
			}
			&--medium-4 {
				width: 33.33%;
			}
			&--medium-40p {
				width: 40%;
			}
			&--medium-6 {
				width: 50%;
			}
			&--medium-60p {
				width: 60%;
			}
			&--medium-8 {
				width: 66.66%;
			}
			&--medium-12 {
				width: 100%;
			}		
		}		
	}

}
