.row {

	@mixin clearfix;

	.column {
		width: 100%;

		&--center {
			padding: 0 auto;
		}
		&--right {
			float: right;
		}
		&--left {
			float: left;
		}
		@mixin atMedium {
			&--medium-4 {
				width: 33.33%;
			}
			&--medium-5 {
				width: 40%;
			}
			&--medium-6 {
				width: 50%;
			}
			&--medium-7 {
				width: 60%;
				/*
				padding-left: 70px;
				padding-right: 20px;
				*/
			}
			&--medium-12 {
				width: 100%;
			}		
		}		
	}

}
