.section {
	&--home {
	
		&--1 {
			
			&__part {
				margin-left: 20px;
				margin-right: 20px;
				&--1 {
					@mixin atMedium {
						width: 66%;
					}
				}
				&--2 {}
			}
		}
		&--2 {
			
			&__part {
				margin-left: 20px;
				margin-right: 20px;
				&--1 {}
				&--2 {}
			}
		}	
		&--3 {
			
			&__part {
				margin-left: 20px;
				margin-right: 20px;
				&--1 {}
				&--2 {}
			}
		}	
	}		
}